
<div class="container">
  <h3 class="center">Welcome to Cerner ATB Master </h3><br/><br/>
  <div class="row">
    <div class="col">
          <div class="container">
              <div class="card file-upload-card" style="width:250px">
                <%= image_tag "workstation.png", class: "card-img-top", style: "width:50%" %>
                <div class="card-body center">
                <h5 class="card-title">Workstation</h5>
                <%= link_to "", workstations_path, class: "stretched-link" %>
                </div>
              </div>
          </div>
      </div>
    <div class="col">
     <div class="container">
              <div class="card file-upload-card" style="width:250px">
                <%= image_tag "view_atb.png", class: "card-img-top", style: "width:50%" %>
                <div class="card-body center">
                <h5 class="card-title">View Allocation</h5>
                <%= link_to "", workstations_associate_allocation_path, class: "stretched-link" %>
                </div>
              </div>
          </div>
    </div>
    <div class="col">
     <div class="container">
              <div class="card file-upload-card" style="width:250px">
                <%= image_tag "associates.png", class: "card-img-top", style: "width:50%" %>
                <div class="card-body center">
                <h5 class="card-title">Report Card</h5>
                <%= link_to "", workstations_associate_report_path, class: "stretched-link" %>
                </div>
              </div>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
          <div class="container">
              <div class="card file-upload-card" style="width:250px">
                <%= image_tag "track_work.png", class: "card-img-top", style: "width:50%" %>
                <div class="card-body center">
                <h5 class="card-title">Work Status</h5>
                <%= link_to "", workstations_associate_work_status_path, class: "stretched-link" %>
                </div>
              </div>
          </div>
      </div>
    <div class="col">
     <div class="container">
              <div class="card file-upload-card" style="width:250px">
                <%= image_tag "insurance_phone.png", class: "card-img-top", style: "width:50%" %>
                <div class="card-body center">
                <h5 class="card-title">Insurance Phone</h5>
                <%= link_to "", workstations_path, class: "stretched-link" %>
                </div>
              </div>
          </div>
    </div>
    <div class="col">
     <div class="container">
              <div class="card file-upload-card" style="width:250px">
                <%= image_tag "reports.png", class: "card-img-top", style: "width:50%" %>
                <div class="card-body center">
                <h5 class="card-title">Work Flow</h5>
                <%= link_to "", workstations_path, class: "stretched-link" %>
                </div>
              </div>
          </div>
    </div>
  </div>
</div>