<html>
<head>
<script>
$(document).ready(function() {
    $('#workstation-index').DataTable({
        responsive: true,
        sPaginationType: "full_numbers",
        bJQueryUI: true,
        paging: false,
        "scrollX": true
      });
} );

</script>
</head>
<body>
<div class = "header_row center">
    Master Data
</div>
<div class = "workstation-table">
<table id="workstation-index" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
  <thead>
    <tr>
<th>Encounter No</th><th>Patient Name</th><th>Admit Date</th><th>Discharge Date</th><th>Billed Amount</th>
<th>Balance Amount</th><th>Insurance Name</th><th>Allocation</th><th>Associate ID</th>
</tr>
</thead>
 <tbody>
<% @master_atb.each do |master_atb| %>
    <tr>
       <td><%= master_atb.encounter_no %></td>
       <td><%= master_atb.patient_name %></td>
       <td><%= master_atb.admit_date %></td>
       <td><%= master_atb.discharge_date %></td>
       <td><%= master_atb.billed_amount %></td>
       <td><%= master_atb.balance_amount %></td>
       <td><%= master_atb.insurance_name %></td>
       <td><%= master_atb.user_allocation %></td>
       <td><%= master_atb.associate_id %></td>
    </tr>
<% end %>
 </tbody>
</table>
</div>
</body>
</html>