<html>
<head>
<script>
$(document).ready(function() {
    $('#workstation-index').DataTable({
        responsive: true,
        sPaginationType: "full_numbers",
        bJQueryUI: true,
        paging: false,
        "scrollX": true
      });
} );

</script>
</head>
<body>
<div class = "header_row center">
    Workstation
</div>
<%
=begin%>
 <div class="container">
  <%= form_tag("workstations/atb_filter", method: "post") do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class = "row">
    <div class = "col">
      <%= select_tag(:atb_balance, options_for_select([['NA'], ['High To Low'], ['Low To High']]),  {:class => "form-control", :required => true}) %>
    </div>
      <% atb_filter_insurance = @atb_for_insurance_list.map { |atb| [atb.insurance_name] } %>
    <div class = "col">  
       <% atb_filter_insurance.unshift("All") %>
       <%= select_tag(:atb_insurance, options_for_select(atb_filter_insurance.uniq, "All"),  {:class => "form-control", :required => true}) %>
    </div>
    <div class = "col">  
    <%= submit_tag("Filter", {:class => "btn btn-primary"}) %>
    </div>
  </div>
<% end %>
</div>
<br/> 
<%
=end%>

<div class = "workstation-table">
<table id="workstation-index" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th class="th-sm">Encounter No</th>
    <th class="th-sm">Patient Name</th>
    <th class="th-sm">Admit Date</th>
    <th class="th-sm">Discharge Date</th>
    <th class="th-sm">Billed Amount</th>
    <th class="th-sm">Balance Amount</th>
    <th class="th-sm">Insurance Name</th>
    <th class="th-sm">Allocation</th>
    <th class="th-sm">Associate ID</th>
    <th class="th-sm">Edit</th>
    </tr>
</thead>

<tbody>
     <% @atb.each do |atb| %>

     <tr>
        <td> <%= atb.encounter_no %> </td>
        <td> <%= atb.patient_name %> </td>
        <td> <%= atb.admit_date %> </td>
        <td> <%= atb.discharge_date %> </td>
        <td> <%= atb.billed_amount %> </td>
        <td> <%= atb.balance_amount %> </td>
        <td> <%= atb.insurance_name %> </td>
        <td> <%= atb.user_allocation %> </td>
        <td> <%= atb.associate_id %> </td>
        <td> <%= link_to "Start >>", new_workstation_path(atb), class: "btn btn-primary btn-sm" %> </td>
     </tr>
     <% end %>
     </tbody>
</table>
</div>
</body>
</html>