<div class = "container center"> 
    <div class = jumbotron>
        <table class = "table">
            <th>Associate ID</th><th>Associate Name</th><th>Project Name</th><th>Access Level</th><th>Edit</th><th>Delete</th>
            <% @associate.each do |associate| %>
                <tr>
                    <td> <%= associate.associate_id %> </td>
                    <td> <%= associate.associate_name %> </td>
                    <td> <%= associate.project_name %> </td>
                    <td> <%= associate.access %> </td>
                    <td> <%= link_to "Edit", edit_associate_path(associate), class: "btn btn-warning btn-sm" %> </td>
                    <td> <%= link_to "Delete",associate_path(associate), method: :delete, data: {confirm: "User will be removed, are you sure ?"}, class: "btn btn-danger btn-sm" %> </td>
                </tr>
                <% end %>
        </table>
    </div>
</div>