
<div class = "container center"> 
<div class = jumbotron>
<h3>Viewing All Users</h3>
<div class = "container set-margin-atb">
    <div class = "row center atb-header">
        <div class = "col-sm-3"> Associate ID </div>
        <div class = "col-sm-3"> Associate Name </div>
        <div class = "col-sm-3"> Project Name </div>
        </div>
    <% @associate.each do |associate| %>
        <div class = "row center atb-body">
        <div class = "col-sm-3"><%= associate.associate_id %> </div>
        <div class = "col-sm-3"><%= associate.associate_name %> </div>
        <div class = "col-sm-3"><%= associate.project_name %> </div>
        <div class = "col-sm-1"><%= link_to "Edit", edit_associate_path(associate), class: "btn btn-warning btn-sm" %></div>
        <div class = "col-sm-1"><%= link_to "Delete",associate_path(associate), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger btn-sm" %></div>
        </div>
    <% end %>
    </div>
    <br/><br/>
    <%= link_to "Add New Associate", new_associate_path, class: "btn btn-primary btn-block" %>
</div>